#root {
  margin: 20px 8px;
  padding: 2rem;
  text-align: center;
}

.register {
  display: flex;
  margin: 0 0 32px 0;
  justify-content: space-around;
}

.add-button {
  margin: 0 0 0 16px;
}

.task-table {
  border: 2px solid rgb(140 140 140);
}

.task-table-content {
  border: 1px solid rgb(160 160 160);
  padding: 8px;
}

.date-input {
  width: 80px;
}

.time-input {
  width: 80px;
}

.content-input {
  width: 480px;
}
